@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    font-family: 'Kalam', cursive;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    align-items: center;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
